* {
  margin: 0;
}

main {
  background: url(images/bg.jpg) no-repeat center center/cover;
}
main .main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .main img {
  position: absolute;
  animation: elf 4s forwards infinite alternate;
}

@keyframes elf {
  0% {
    transform: translate(5%, -6%) scale(1);
  }
  50% {
    transform: translate(4%, 7%) scale(1.1);
  }
  100% {
    transform: translate(6%, 5%) scale(0.99);
  }
}


h1{
  color: crimson;
}